[worldserver]

#
#    AutoRevive.Enable
#        Описание: Автоматическое воскрешение при смерти.
#        Значение:    1  - (Включить)
#                     0  - (Выключить)

AutoRevive.Enable = 1

#
#    AutoRevive.Zone.Enable
#        Описание: Автоматическое воскрешение при смерти только в определённой зоне.
#        Значение:    0  - (Выключить)
#                     1+  - (Включить)

AutoRevive.ZoneID = 30